.flip-card {
  perspective: 40rem;
}

.flip-card .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card .wrapper.flipped {
  transform: rotateY(180deg);
}

.flip-card .card {
  backface-visibility: hidden;
  grid-row-start: 1;
  grid-column-start: 1;
}

.flip-card .back {
  transform: rotateY(180deg);
}
