.card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
}

.container {
  height: 100vh;
  margin-left: 8em; /* Same as the width of the sidebar */
  transition: margin-left 0.5s;
  display: grid;
  align-items: baseline;
}

.container.closed {
  margin-left: 0;
}

.sidebar-toggle {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5em;
  background-color: lightgrey;
  border: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: aliceblue;
  background-image: radial-gradient(
    circle,
    rgb(87, 96, 108) 2px,
    #ffffff00 2px
  );
  background-size: 2.5rem 2.5rem;
  margin: 0;
}
