.sidebar {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;

  display: flex;
  flex-direction: column;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 8em; /* Set the width of the sidebar */
  background-color: lightgrey;
  transition: all 0.5s;

  /* Move the sidebar offscreen when it is closed */
  &.closed {
    transform: translateX(-8em);
  }

  /* Allow some space for the sidebar-toggle */
  .spacer {
    height: 50px;
  }

  & a {
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 1em;

    /* Blue on hover */
    &:hover {
      background-color: #0052cc;
      color: aliceblue;
    }
  }

  /* Last link should stay at the bottom */
  & a:last-child {
    margin-top: auto;
    border: none;
  }
}
