*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --foreground-color: rgb(140, 140, 140);
  --background-color: rgb(42, 42, 42);
}

body {
  margin: 0;
  background-color: var(--background-color);
}

.paddle {
  --position: 50;

  position: absolute;
  background-color: var(--foreground-color);
  width: 1vh;
  height: 10vh;
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}

.ball {
  --x: 50;
  --y: 50;

  position: absolute;
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  transform: translate(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;

  background-color: var(--foreground-color);
  border-radius: 50%;
}

.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: var(--foreground-color);
}

.score > * {
  font-family: monospace;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: .5;
}

.score > :first-child {
  text-align: right;
  border-right: .5vh solid var(--foreground-color);
}
